.mainContainer{
  width:300px;
  margin:0 auto;
  display:grid;
  grid-template-columns: auto 64px;
  align-items:center;
  grid-gap:none;
}

.simpleGlyphShow{
  grid-column: 2;
  height:100%;
  width:100%;
  display:grid;
  align-items:end;
  box-sizing: border-box;
  padding-bottom:10px;
}

#simpleGlyphs{
  height:202px;
  width:100%;
  border-radius:2px;
  box-sizing: border-box;
  padding:5px;
  display:grid;
  justify-items:center;
  align-items:center;
  align-content:start;
  background: black;
}

#simpleGlyphs > svg {
  position:relative;
}

.fractalWrapper{
  margin:0 auto;
  box-sizing: border-box;
  padding:10px;
  /* border:1px solid grey; */
  border-radius:3px;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-gap:10px;
}

#fractalInput,
#fractalOutput {
  display:grid;
  align-items:center;
  justify-items:center;
  height:200px;
  width:200px;
  border-radius:2px;
  background:white;
}

#fractalInput{  
  border:1px solid lightgrey;
}

#fractalOutput{
  position:relative;
  border: 1px solid grey;
}

.fractalCommands{
  width:200px;
  height:50px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:5px;
  border-radius:1px solid lightgrey;
  border-radius:2px;
}

.fractalBtn {
  display:grid;
  align-items:center;
  justify-items:center;
  box-sizing: border-box;
  background: lightgrey;
  border-radius:2px;
  height:100%;
  width:100%;
  transition: all 0.3s ease;
  border:1px solid white;
  font-family: 'Courier New', Courier, monospace;
  font-size:0.75em;
  color:grey;
  cursor:pointer;
  text-align:center;
}

.fractalBtn:hover{
  border:1px solid grey;
  transition: all 0.3s ease;
  color:black;
  font-weight:bold;
}

#fractalBtn1,
#fractalBtn2 {
  color: white;
  text-shadow: 0 1px 1px black;
}

#fractalBtn2 {
  background: linear-gradient(to top, rgb(135, 167, 99), rgb(100, 146, 47));
}

#fractalBtn1{
  background: linear-gradient(to top, rgb(167, 126, 99), rgb(177, 108, 61));
}

.memory {
  width:200px;
  height:50px;
  font-size:0.4em;
  font-family: 'Courier New', Courier, monospace;
  color:greenyellow;
  background:black;
  border-radius:2px;
  box-sizing: border-box;
  padding:3px;
  overflow-wrap: break-word;
}

svg {
  position: absolute;
}

.fractalName{
  background:white;
  text-align:left;
  display:block;
  font-family: 'Courier New', Courier, monospace;
  width:200px;
  margin:0 auto;
  font-size:0.6em;
}